<body>
    <main>
        <header>
            <div class="logo">
                <img src="{{logo}}"alt="">
            </div>
            <div>
                <h1>{{nombreP}}</h1>
            </div>
        </header>
        <hr>
        <div>
            <nav class="menu">
                <ul>
                  <li class="menus"><a [routerLink]="['/principal']">Inicio</a></li>
                  <li class="menus"><a [routerLink]="['/deportes']">Deportes</a></li>
                </ul>
              </nav>
        </div>
        <hr>
        <section>
            <div class="noticia1">
                <div class="nocticia1-1">
                    <h1 class="subtitulo1">{{nombren1}}</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, sed repudiandae? Aspernatur quam dolores voluptatibus, consequuntur fugit exercitationem corporis, eius laborum laudantium expedita, deleniti dicta illo laboriosam architecto. Distinctio, delectus?
                        Voluptates ea eveniet voluptas illum id qui distinctio unde, tenetur doloremque hic delectus fugit excepturi culpa non fugiat, placeat error autem, nesciunt quibusdam quod? Ratione rem quis esse ipsum obcaecati?
                        In, odio? Excepturi ratione debitis totam. Sint sapiente vel, impedit beatae tempora tenetur deleniti maiores quidem? Cumque, pariatur! Veritatis, accusamus. Similique, error. Autem numquam perferendis vel fugiat ex repellat cupiditate.
                        Necessitatibus, porro assumenda molestiae tenetur expedita, autem magnam ipsum neque aut voluptate nulla explicabo eligendi. Facilis excepturi a, in hic vel iusto, aut assumenda maiores repellendus sunt consequuntur officia incidunt?
                        Error laborum exercitationem sunt dolorem cumque dicta, perspiciatis adipisci, sed quod officiis recusandae et vel minus similique blanditiis. Sequi impedit, accusamus corrupti repudiandae ab dicta necessitatibus earum quas iure cum!
                        Nemo cupiditate, illo ducimus labore asperiores maiores consequuntur sint tempora est quam, alias ratione. Excepturi nihil minus ipsum placeat nam veniam alias qui dignissimos? Non amet quam obcaecati illo soluta.
                        Tempore, illo. Amet harum incidunt magnam neque dolorum consequatur, repudiandae vel minima dicta ratione provident, fuga dolores velit reprehenderit sunt vitae non commodi quis laboriosam? Sit ea necessitatibus voluptates doloribus!
                    </p>
                </div>
                <div class="imagenn1">
                    <img src="{{ino1}}" alt="" class="img1">
                </div>
            </div>
    
    
            <div class="noticia2">
                <div class="imagenn2">
                    <img src="{{ino2}}" alt="" class="img2">
                </div>
                <div class="noticia2-2">
                    <h1 class="subtitulo2">{{nombren2}}</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, sed repudiandae? Aspernatur quam dolores voluptatibus, consequuntur fugit exercitationem corporis, eius laborum laudantium expedita, deleniti dicta illo laboriosam architecto. Distinctio, delectus?
                        Voluptates ea eveniet voluptas illum id qui distinctio unde, tenetur doloremque hic delectus fugit excepturi culpa non fugiat, placeat error autem, nesciunt quibusdam quod? Ratione rem quis esse ipsum obcaecati?
                        In, odio? Excepturi ratione debitis totam. Sint sapiente vel, impedit beatae tempora tenetur deleniti maiores quidem? Cumque, pariatur! Veritatis, accusamus. Similique, error. Autem numquam perferendis vel fugiat ex repellat cupiditate.
                        Necessitatibus, porro assumenda molestiae tenetur expedita, autem magnam ipsum neque aut voluptate nulla explicabo eligendi. Facilis excepturi a, in hic vel iusto, aut assumenda maiores repellendus sunt consequuntur officia incidunt?
                        Error laborum exercitationem sunt dolorem cumque dicta, perspiciatis adipisci, sed quod officiis recusandae et vel minus similique blanditiis. Sequi impedit, accusamus corrupti repudiandae ab dicta necessitatibus earum quas iure cum!
                        Nemo cupiditate, illo ducimus labore asperiores maiores consequuntur sint tempora est quam, alias ratione. Excepturi nihil minus ipsum placeat nam veniam alias qui dignissimos? Non amet quam obcaecati illo soluta.
                        Tempore, illo. Amet harum incidunt magnam neque dolorum consequatur, repudiandae vel minima dicta ratione provident, fuga dolores velit reprehenderit sunt vitae non commodi quis laboriosam? Sit ea necessitatibus voluptates doloribus!
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <footer>
            <p>NICOLAS RIOS CASTILLO Copyright &copy; 1990-2014 Peter Doe, todos los derechos reservados.</p>
          </footer>
    </main>
    
</body>

